<h2>About</h2>
<p>このアプリケーションは神原一帆が担当する授業の受講者向けのものです。<br>該当する講義は以下の通りです。「*」がついている講義名は春学期のみ開講予定の講義です。</p>

<ul>
  <li>
    京都外国語専門学校:
    <ul>
      <li>Reading I/II (1E4)</li>
      <li>Grammar Clinic (1E3)</li>
      <li>英米文化事情 I (1E5)*</li>
    </ul>
  </li>

  <li>
    京都外国語大学:
    <ul>
      <li>英語意味論・語用論*</li>
    </ul>
  </li>
</ul>

<h2>Contact</h2>

<p>
  このアプリケーションの使用には管理者の許可が必要です。<br>
  不具合がある場合は管理者の神原 (kazy3024@gmail.com) までご連絡ください。
</p>
