<% if current_user.present? %>
  <h2>ようこそ、<%= current_user.name %>さん！</h2>
  <% if current_user.teacher %>
    先生ですか
  <% else %>
    学生ですか
  <% end %>

<% else %>
  <%= render 'pages/about' %>
<% end %>
